header {
    background-color: darkgray;
    height: 150px;
}

nav {
    background-color: darkgreen;
    width: 25%;
}

section {
    background-color: moccasin;
    width: 50%;
}

aside {
    background-color:paleturquoise;
    width: 25%;
}

footer {
    clear: left;
    background-color:royalblue;
    height: 100px;
}

nav,
aside,
section {
    float: left;
    height: 350px;
}